<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>manager</title>
</head>
<body>
    <h1>管理员页面</h1>
    <ul>
        <li>
            <a href="/sugarMarket/goodlist/">查看全部商品信息</a>
        </li>
        <li>
            <a href="/sugarMarket/historyorder/">查看历史订单</a>
        </li>
        <li>
            <a href="/sugarMarket/logout/">退出</a>
        </li>
        
    </ul>
</body>
</html>