<!DOCTYPE html>
<html lang="en">

<head>
	<title>商品详情</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<script language=javascript>
            function a()
            {
                alert("加入购物车成功");
                return true;
            }
            
	</script>
	<!-- //custom-theme -->
	<link rel="stylesheet" href="/static/css/backgroud.css">
	<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="/static/css/shop.css" type="text/css" media="screen" property="" />
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="http://fonts.googleapis.com/css?family=Montserrat:100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">

</head>

<body>
	<!-- banner -->
	{% csrf_token %}
	<div class="top innerpage" id="banner-top">
		<div class="wrapper_top_w3layouts">
			<div class="header_agileits">
				<div class="logo inner_page_log">
					<h1><a class="navbar-brand" href="/sugarMarket/"><span>舒格</span> <i>七号</i></a></h1>
				</div>				
			</div>
		</div>
		<div class="clearfix"></div>
		<!-- /banner_inner -->
		<div class="services-breadcrumb_w3ls_agileinfo">
			<div class="inner_breadcrumb_agileits_w3">
				<ul class="short">
					<li><a href="/sugarMarket/">回到首页</a><i>|</i></li>
					<li>商品详情</li>
				</ul>
			</div>
		</div>
		<!-- //banner_inner -->
	</div>
	<div class="ads-grid_shop">
		<div class="shop_inner_inf">
			<div class="col-md-4 single-right-left ">
				<div class="grid images_3_of_2">
					<div class="flexslider">
						<ul class="slides">
							<div style="width: 400px ; height: 400px ; margin-left: 50px">
								<img src="/static/good_images/{{ picPath }}" style="width: 100% ; height:100% " alt="">  
							</div>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="col-md-8 single-right-left simpleCart_shelfItem" >
				<h3 style="font-size: 50px;">{{ good.goodName }} </h3> <br> <br>
				<p><span class="item_price">价格：{{ good.goodSalePrice }} 元</span></p> <br>
				<p><span class="item_price">类型：{{ good.goodKind }}</span></p> <br>
				<p><span class="item_price">销量：{{ good.goodTotalSale }}</span></p> <br>
				<p><span class="item_price">推荐指数：根据同类产品最近的销量给产品打分 </span></p><br>
				<div class="occasion-cart">
					<div class="shoe single-item single_page_b">
						<form action="/sugarMarket/addToCart/{{ good.id }}" method="GET">
							<input type="submit" name="submit" value="加入购物车" class="button add" onclick="return a();" style="margin-right:40px; float:left;">		
						</form>
						<form action="/sugarMarket/shopcart/" method="GET">
							<input type="submit" name="submit" value="我的购物车" class="button add" style="float:left;">
						</form>
					</div>

				</div>	
			</div>
	<div class="clearfix"> </div>
</body>

</html>