<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/head.css' %}">
</head>
<body>
    <div class="top innerpage">
        <div class="logo inner_page_log">
            <h1><a class="navbar-brand" href="index.html"><span>舒格</span> <i>7号</i></a></h1>
        </div>
    </div>
</body>
</html>