<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div style="width:100%;display:flex;justify-content: center;align-items: center;">
                
        <form action="/app/login/" method="POST">
                {% csrf_token %}
                <div style="text-align:left"> 
                <h1>用户登陆</h1>  
                <input placeholder="请输入登陆账号" type="text" name="username" value="{{ account }}">
                <td>
                <select name="loc">
                <option>-请选择-</option>
                <option>用户登陆</option>
                <option>管理员登陆</option>
                <option>配送员登陆</option>
                </select>
                </td><br><br>
                <input type="password" placeholder="请输入登陆密码"  name="userpwd" id=""><br><br>
                <div class="loginBoxButtons">
                        <input style="width:120px;height:40px;border: 1px;color:white;background:skyblue"  type="submit" value="马上登陆">             
                </div>

        </form>
    </div>
    {% if msg %}
        {{ msg }}
    {% endif %}
</body>
</html>