<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        table{
            width: 1000px;
            border: none;
        }
        th{
            background-color: salmon;
            color: white;
        }
        td{
            background-color: blanchedalmond;
        }
    </style>
</head>
<body>
    <h1>订单详情</h1>
    <table order ="tab">
        <tr>
            <th>商品id</th>
            <th>商品数量</th>
            <th>单项总价</th>
        </tr>
        {% for orderitem in itemlist %}
        <tr>
            <td>{{ orderitem.good}}</td>
            <td>{{ orderitem.goodNumber}}</td>
            <td>{{ orderitem.goodTotalPrice}}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="8" style="text-align:center;">暂无数据</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/sugarMarket/historyorder/?page=end/">返回至订单信息尾页</a>
</body>
</html>