<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>购物车
    {% load static %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/shopcart.css' %}">
    <script src="{% static 'js/shopcart.js' %}"></script>

        

</head>
<body>

    <table>
        
        <tr>
            <th>商品名称</th>
            <th>数量</th>
            <th>单价</th>
            <th>小计</th>
            <th>操作</th>
        </tr>
        
        {% for pro in good %}
        <tr class="trclass">
            <td class="tdtwo">{{ pro.goodName }}</td>
            <td class="tdthree"><span class="jiajie"><input type="button" value="-"><span class="num">1</span><input type="button" value="+"></span></td>
            <td class="tdfour"><span></span>单价：<span class="unit">{{ pro.goodSalePrice }}</span></td>
            <td class="tdfive"><span>小计：</span><span class="subtal">0</span></td>
            <td class="tdsix"><button class="del">×</button></td>
        </tr>
        {% endfor %}
        
        <tr class="fixedHead"><td colspan="6"; class="talast"><span>商品数为<span class="goods_num">0</span>;共计花费 <span class="pricetal">0</span> 元;</td><td class="fixedHead"><a href="gotoCheckOut/">确认下单</a></td></tr>
        
    </table>
    <!-- {% for pro in content %}
        {{ pro }}
    {% endfor %} -->
        {{ test }}

</body>
</html>